/* Importando Fontes */

@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans|JetBrains+Mono:400,400i,700,700i');

/* Header Fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: "Balsamiq Sans";
}

/* Body Font */

body {
  font-family: "JetBrains Mono";
  color: #1f1f1f;
}

/* --------------Navbar-------------------- */

.distill-site-header{
  background-color: #5ab4f6 ;
  font-size: 20px;
  font-family: "Balsamiq Sans";
  letter-spacing: 2px;
  text-transform: uppercase;
}


/* -------------Footer------------------*/

.distill-site-footer {
  background-color: #5ab4f6;
  margin-top: 0px;
  padding: 2px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: "Balsamiq Sans";
}

/* -------------Appendix------------------*/

d-appendix {
  background-color: #5ab4f6;
  border-top: none !important;
  color: #ffffff ;
  font-family:"JetBrains Mono" ;
}

