/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`
*/
@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans|JetBrains+Mono:400,400i,700,700i');
/* This must remain at the top of this file.                 */

/* Header Fonts */

h1, h2, h3, h4, h5, h6 {
  font-family: "Balsamiq Sans";
}

/* Body Font */

body {
  font-family: "JetBrains Mono";
  color: #1f1f1f;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #ffffff;
  --body-size:       0.8rem;
  --body-color:      #ffffff;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
  font-family: "Balsamiq Sans";
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   #ffffff ;
  --text-size:       0.8em;
  --text-color:      #ffffff ;
  background-color: #313139;
  color: #ffffff ;
  border-top: none !important;
  font-family:"JetBrains Mono" ;
}

d-appendix h3 {
  color: #ffffff ;
}

d-appendix a{
  color: #ffffff ;
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header{
  background-color: #313139;
  font-size: 20px;
  font-family: "Balsamiq Sans";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.distill-site-footer {
  background-color: #313139;
  margin-top: 0px;
  padding: 2px 0px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: "Balsamiq Sans";
}

/*
For project cards
Adapted from Ijeamaka Anyene
https://github.com/Ijeamakaanyene/ijeamaka-anyene
https://ijeamaka-anyene.netlify.app
*/

.card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 16px 16px;
    text-decoration: none;
    display: flex;
}

.card-body {
  padding: 2px 16px;
}

.card-img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 30px;
}

.card-footer {
  background-color: #000;
  color: white;
  text-align: right;
  padding-right: 5px;
}


@media screen and (max-width: 992px) {
  .card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 16px 16px;
    text-decoration: none;
    display: block;
    width: 300px;
  }

}

d-title h1,
d-article h2,
.posts-list .description h2,
.posts-list > h1 {
    font-family: "Balsamiq Sans";
}
.posts-list .description p {
  font-family: "JetBrains Mono";
}
